*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#fff;
}
#logo{
    height:70px;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 50px rgb(234, 231, 231);
    background-color: white;
    position: fixed;
    z-index: 10;
}
.header-inner{
    width: 80%;
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box{
    height: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: right;
    margin-right: 30px;
}
.search-bar{
    width: 13%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-width: 1px;
    outline: none;
    border-bottom-left-radius: 2px;
    border-color: lightgray;
    color: gray;
}
.search-bar:hover{
    list-style: none;
}
.nav-items-list{
    display: flex;
}
.nav-items-list > .link{
    width: 75px;
    height: 19px;
    font-size: 1.1rem;
    margin: 0px 8px;
    height: 27px;
    text-align: center;
    color: #242424;
    text-decoration: none;
}
.nav-items-list > .link:hover{
    color:#f73b00;
    opacity: 0.8;
    font-size: 1.2rem;
    transition: 0.3s;
}
.container{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 70px);
}
.container-center{
    width: 61.5%;
    margin-top: 80px;
}
.restaurant-list{
    width: 100%;
    /* justify-content: center; */
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
}
.restaurant-card{
    width: calc(25% - 40px);
    min-width: 100px;
    margin: 20px;
    padding: 10px 10px 40px 10px;
}
.restaurant-card h3{
    margin: 12px 0px 5px;
    color: #242424;
}
.restaurant-card p{
    color:gray;
}
.restaurant-card:hover{
    /* border: 0.001px solid; */
    box-shadow: 0px 1px 3px gray;
    opacity: 0.85;
    transition: 0.25s;
}
.restaurant-card > img{
    max-width: 100%;
}
.restaurant-card > hr{
    border:0.1 solid lightgray
}
.discountText{
    margin-top: 10px;
    color:#8a584b !important
}
.extraInfo{
    height: 20px;
    display: flex;
    color: gray;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom:12px
}
.extraInfo >:first-child{
    background-color: #48c479;
    color: white; 
    padding: 3px;
}

.extraInfo > label{
    line-height: 20px;
}

.loading-popUp{
    position: relative;
    top: 120px;
}

.shimmer-card{
    width: calc(25% - 60px);
    height: 300px;
    min-width: 100px;
    margin: 30px;
    background-color: lightgray;
    opacity: 0.5;
    animation: fadeInOut 0.5 ease-in-out 0.1s infinite alternate;
}

.footer{
    background-color: #242424;
    color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.restaurant-menu{
    margin-top: 40px;
}

@keyframes fadeInOut {
    0% { opacity: 0;}
    100% {opacity: 0.5;}
}

